@import "tailwindcss";

:root {
  --bg-surface: #FDFFFC;
  --bg-invert: #011502;

  --text-primary: #011502;
  --text-invert: #FDFFFC;

  --brand-primary: #17BEBB;
  --brand-secondary: #0E7C7B;

  --accent-success: #91CB3E;
}

@theme {
  --color-bg-surface: var(--bg-surface);
  --color-bg-invert: var(--bg-invert);

  --color-text-primary: var(--text-primary);
  --color-text-invert: var(--text-invert);

  --color-brand-primary: var(--brand-primary);
  --color-brand-secondary: var(--brand-secondary);
  --color-accent-success: var(--accent-success);
}

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--brand-primary);
  color: var(--text-primary);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
}

.button-white-overlay{
    @apply text-text-invert bg-bg-surface/24 backdrop-blur-md;
  }