@import "tailwindcss";

:root {
  --bg: #FDFFFC;
  --bg-overlay: #FDFFFC3D;

  --bg-invert: #011502;
  --bg-invert-overlay: #01150288;

  --text: #011502;
  --text-invert: #FDFFFC;

  --brand-primary: #17BEBB;
  --brand-secondary: #0E7C7B;
  --accent-success: #91CB3E;
}

@theme {
  --color-bg: var(--bg);
  --color-bg-overlay: var(--bg-overlay);

  --color-text: var(--text);
  --color-text-invert: var(--text-invert);

  --color-brand-primary: var(--brand-primary);
  --color-brand-secondary: var(--brand-secondary);
  --color-accent-success: var(--accent-success);
  --color-bg-invert: var(--bg-invert);
  --color-bg-invert-overlay: var(--bg-invert-overlay);
}

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--brand-primary);
  color: var(--text);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
}
